/* Lista de tareas */

.input .ingresar {
    border: none;
    border-radius: 15px;
    border: solid #252525 0.5px;
    background-color: #ffffff;
    color: #252525;
    height: 15px;
    padding: 10px;
    width: 300px;
}

input[type="button"] {
    border-radius: 15px;
    border: none;
    background-color: #007BFF;
    color: #ffffff;
    height: 30px;
    width: 80px;
}

.tareas {
    padding: 2em;
}

.tarea {
    align-items: center;
    border-radius: 15px;
    border: solid #252525 0.5px;
    display: flex;
    height: 2em;
    justify-content: space-between;
    margin: 1em;
    min-width: 300px;
    padding: 5px 1em;
}

.tarea button {
    border: none;
    height: 100%;
    padding: 5px;
}

.tarea button img {
    height: 100%;
}

.tarea.-selected > span {
    text-decoration-line: line-through;
}